<header>
	<div class="header-content">
		<div class="container">
			<h1>Fresh Air Mission</h1>
			<p>Our goal is to provide you with the freshest air, anywhere.</p>
			<button><%=link_to "Place Order", "#" %></button>

		</div>
	</div>
</header>