<header class="background">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  
                    <li>
                      <%= link_to "Claim Your Jar", purchases_new_path, class: "btn btn-default btn-lg button" %>
                        
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  <div class="container">
 
  
    <div class="row">
      <div class="col-lg-8 col-lg-7">
        <h1 id="home">Alaskan<br>Air Delevered</h1><br>
        <!-- <p>Our mission is to bring pure Alaskan air to everyone on this beautiful Earth. Let's show the world what fresh air should taste like!<br><br>A portion of all proceeds go to support grassroots community programs that are cleaning our air.<br><br> -->
      </div>
    </div>
    <div class="arrow text-center">&#x25BE;</div>
  </div>
</header>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center" >

                    <div class="clearfix"></div>
                    <h2 class="section-heading">Mission Fresh Air</h2>
                    <p class="lead"> Its our mission to send people across the United States that never tasted fresh air before a mason jar full of fresh Alaskan air, while donating all the proceeds to clean air initiatives.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

<section id="pitch">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
         



<div class="videoWrapper">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/Dcr_ZDVbBSQ" frameborder="0" allowfullscreen></iframe>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="http://www.lung.org/" class="portfolio-box">
          <img src="http://i.imgur.com/Fe3NGy0.jpg?1" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                American Lung Association
              </div>
            </div>
          </div>
        </a>
      </div>
    <div class="col-lg-4 col-sm-6">
      <a href="http://www.ccair.org/" class="portfolio-box">
        <img src="http://i.imgur.com/Zx1NI7p.jpg?2" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-name">
              Coalition for Clean Air
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a href="http://medicaladvocatesforhealthyair.org/" class="portfolio-box">
          <img src="http://i.imgur.com/rZ1W5KH.jpg?1" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Medical Advocates for Healthy Air
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
    
    <div class="content-section-b">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center" >
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Our Partners</h2>
                    <br>
                      <img id="myImage" src="http://www.lung.org/images/ala-logo-head.png" height="100" width="250">
                    <img src="http://conferences.stagedrightevents.com/blueskyluncheon/wp-content/uploads/2014/01/CCA-logo-4c-hi-res.jpg" height="100" width="250">
                    <img src="https://quenchnj.com/app/uploads/2014/07/Medical-Advocates-for-Healthy-Air.png" height="100" width="250">
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Come change the world with us!</h2>
        <br>
        <%= link_to "Claim Your Jar", purchases_new_path, class: "btn btn-default btn-lg ", :method => :get%>
        <br>
        <br>
        <h2>Seriously, we like you. Send us an email and we will get back to you within 24 hours.</h2>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2><a href="mailto:your-email@your-domain.com">contactmissionfreshair@gmail.com</a></h2>
      </div>
    </div>
  </div>
</section>
