<header>
	<div class="background-image"><img url="http://photoblog.statesman.com/wp-content/uploads/2012/08/rbz-mason-jars-01.jpg"></div>
	<div class="content">
		<div class="container">
			<h1>Mission Fresh Air</h1>
			<p>Our goal is to provide you with the freshest air, anywhere.</p>
			<button><%=link_to "Place Order", "#" %></button>
		</div>
	</div>
</header>
<div class="container">
	<p class="black-font">
 Hello this is kealadsfnlkajdslfkjlasdkjf
asdifjl;kjasdfk
skjdlfj;sladjflakdsf
sdkksjdflkasakldskjkjelkwfklk
kfjsldjfheywhe fashfsadlfkjalskdjf
ksehywasdfad nasdfhklwefsdmc lsdkjfurlsdnf </p>
</div>