<!DOCTYPE html>
<html>
<head>
  <title>ProjectDarkstorm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/lovely-weather-icons/32/wind1-512.png"/>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
